.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 28px;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #f2f2f2;
  cursor: pointer;
  transition: all 0.3s ease;
  transform-origin: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.logo:hover {
  background-color: #e6e6e6;
  transform: scale(1.1);
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}

.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(276deg, #da7c25 0.36%, #b923e1 102.06%);
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  /* font-weight: bold; */
  font-family: Outfit;
  cursor: pointer;
}

.nav-link:hover,
.nav-link:active {
  color: #d4d4d4;
  padding-bottom: 0.25rem;
  border-bottom: 3px solid #95bcf0;
}

.anchor-link {
  text-decoration: none;
  color: white;
}

.nav-mob-open,
.nav-mob-close{
  display: none;
}

@media(max-width: 768px) {
  .navbar {
    margin: 20px 50px;
  }
  .nav-connect {
    display: none;
  }
  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
  }
  .nav-mob-close {
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px;
  }
  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #1f0016;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }
  .nav-menu li {
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
  }
}
